<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
   
   <context:annotation-config />   
   <context:property-placeholder location="classpath:student-Info.properties" />
   
   <bean id="student" class="com.loadingfrompropertiesfile.Student"></bean>
   
   <!-- <bean id="student" class="com.loadingfrompropertiesfile.Student">
   	<property name="name" value="${student.name}" />
   	<property name="interestedCoures" value="${student.interestedCoures}" />
   	<property name="hobby" value="${student.hobby}" />
   </bean> -->

</beans>