<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <context:annotation-config />
     
    <!-- <bean id="heart" class="com.autowired.Heart" />
    <bean id="human" class="com.autowired.Human" autowire="byName"></bean> -->
    
    <!-- <bean id="heartObject" class="com.autowired.Heart" />
    <bean id="human" class="com.autowired.Human" autowire="byType" /> -->
    
    <!-- <bean id="heatObject" class="com.autowired.Heart" />
    <bean id="human" class="com.autowired.Human" autowire="constructor" /> -->
    
    <bean id="humanHeart" class="com.autowired.Heart" >
    	<property name="nameOfAnimal" value="Human"/>
    	<property name="noOfHeart" value="1"/>
    </bean>
    <bean id="octpousHeart" class="com.autowired.Heart">
    	<property name="nameOfAnimal" value="Octpous"/>
    	<property name="noOfHeart" value="3"/>
    </bean>
    <bean id="human" class="com.autowired.Human" />

</beans>